* {
    scroll-behavior: smooth;
}

body{
    --background-color: rgb(245, 240, 240);
    color: black;
    font-family: "Hanken Grotesk", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    padding-top: 50px;
}


nav{
    width: 100%;
    height: 50px;
    position: fixed;
    display: flex;
    z-index: 100;
    top: 0;
    left: 0;
    padding: 5px;
    align-items: center;
    justify-content: flex-end;
    background-color: rgba(251, 255, 255, 0.8);
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.06);
}

nav svg {
    fill: black;
}

#sidebar-active {
    display: none;
}

.open-menu-btn,
.close-menu-btn {
    display: none;
    padding: 0 20px;
}

.links-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
}

nav .home-link {
    margin-right: auto;
}
.nav-title {
    font-size: 25px;
    margin-left: 100px;
}

.nav-content {
    margin-right: 100px;
    display: flex;
}

nav h1:hover{
    background-color: rgb(181, 241, 241);
    color: rgb(22, 73, 116);
    cursor: pointer;
    font-weight: bolder;
}

nav li {
    display: inline-flex;
    margin: 0 20px;
    
}

nav a{
    text-decoration: none;
    color: black;
    font-size: 17px;
    display: flex;
    align-items: center;
}

nav li:hover {
    background-color: rgb(181, 241, 241);
    color: rgb(22, 73, 116);
    cursor: pointer;
    font-weight: 600;
}

@media(max-width: 1000px){
    nav{
        display: flex;
        
    }

    .nav-title h1{
        display: block;
    }
    
    .links-container {
        flex-direction: column;
        align-items: flex-start;
        position: fixed;
        top: 0;
        right: -100%;
        width: 500px;
        background-color: rgba(251, 255, 255, 0.8);
        box-shadow: -5px 0 5px rgba(0,0,0,0.1);
        transition: 0.7s ease-out;
    }    

    nav a{
        box-sizing: border-box;
        height: auto;
        width: 100%;
        padding: 20px 30px;
    }


    .nav-content {
        flex-direction: column;
        height: auto;
    }

    .open-menu-btn,
    .close-menu-btn {
        display: block;
        padding: 20px;
    }
    

    #sidebar-active:checked ~ .links-container {
        right: 0;
        
    }

}

.banner {
    padding: 20px 100px;
    display: flex;
    margin-bottom: 5%;
}

.banner h1{
    font-size: 48px;
}

.banner-desc {
    margin-top: 15%;
    float: left;
    width: 60%;

}

.banner-desc p{
    padding-right: 50px;
    margin-right: 50px;
}

/*  
.banner-btn{
    margin-top: 10px;
    display: flex;
}

.banner-btn a{}

.banner-btn button{
    padding: 20px 30px;
    display: flex;
    margin-right: 10px;
    font-family: "Hanken Grotesk", serif;
    
}

.banner-btn button:hover{
    cursor: pointer;
}

.banner-cv a{
    color: black;
    text-decoration: none;
}

.banner-cv img{
    display: inline-block;
    width: 15px;
    padding-right: 5px;
}

.banner-cv p{
    font-weight: 900px;
    
}

.banner-socials .bx{
    height: 15px;
    text-decoration: none;
    color: black;
}

*/
.button{
    display: inline-flex;
    align-items: center;
    font-family: "Hanken Grotesk", serif;
    font-size: 15px;
    font-weight: 600px;
    border-radius: 5px;
    border: 2px solid black;
    background-color: transparent;
    padding: 5px 10px;
}

.button:hover {
    cursor: pointer;
    background-color: rgb(185, 185, 185);
}

.banner-pic{
    position: relative;
    width: 40%;
    overflow: hidden;
    float: right;
    margin-top: 50px;
    padding-top: 50px;
    z-index: 2;
    display: inline-flex;
    
}

.banner-pic img{
    width: 100%;
}

.about{
    width: 100%;
    display: flex;
}

.about-me {
    width: 60%;
    display: inline-block;
}

#about {
    margin: 40px;
}

.about-title{
    width: 175%;
    z-index: 999999;
}

.about-me h1,
.about-me p{
    padding-left: 100px;
    padding-top: 20px;
}

.about-me p{
    padding-right: 30px;
}


.techstack {
    width: 45%;
    display: inline-block;
    border-radius: 50px solid black;
    padding-right: 100px;
    margin-top: 100px;
    
}

.techstack img {
    padding: 10px;
    width: 40px;
    height: auto;
    
}

#projects {
    padding-top: 40px;
}

.projects{
    margin-top: 5%;
    /* border-top: 1px solid rgb(0, 0, 0); */
    width: 100%;
}

.projects h1{
    position: relative;
    width: auto;
    padding-left: 100px;
    padding-top: 20px;
    
}

.proj-title {
    width: 175%;
    z-index: 2;
}

.project-type {
    position: relative;
    padding: 0 100px;
}

.project-type li{  
    display: inline-block;
    border: 1px solid;
    padding: 3px 15px;
    border-radius: 15px;
    margin: 6px 5px;    
}

.project-type li:hover {
    cursor: pointer;
    color: white;
    background-color: black;
}

.container {
    padding: 100px;
}

.card-wrapper {
    width: 170px 0px;
    margin: 0 60px 20px;
    padding: 20px 40px;
    overflow: hidden;
}

.card-wrapper ul{
    padding-inline-start: 0px;
}


.card-wrapper img{
    width: 100%;
}

.card-list .card-item{
    list-style: none;
}

.card-list .card-item .card-link{
    user-select: none;
    display: block;
    padding: 20px;
    border-radius: 12px;
    text-decoration: none;
    color: black;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    transition: 0.2s ease;
    border: 2px solid transparent;
}

.card-list .card-item .card-link:active {
    cursor: grabbing;
}

.card-list .card-item .card-link:hover {
    border-color: black;
}

.card-list .card-item .card-image {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 10px;
}

.card-list .card-link .card-button {
    height: 35px;
    width: auto;
    color: black;
    border-radius: 50%;
    transition: 0.4s ease;
    border: 2px solid black;
    background: none;
    cursor: pointer;
}

.card-list .card-link:hover .card-button {
    color: black;
    background: black;
}

.card-wrapper
.swiper-pagination-bullet {
    height: 12px;
    width: 12px;
    opacity: 0.6;
    background: black;
}


.card-wrapper
.swiper-pagination-bullet-active {
    opacity: 1;
}

.card-wrapper 
.swiper-slide-button {
    color: black;
    margin-top: -35px;
}

@media screen and (max-width: 768px) {
    .card-wrapper {
        margin: 0 10px 25px;

    }

    .card-wrapper .swiper-slide-button {
        display: none;
    }
}

.experience {
    margin-top: 5%;
    border-top: 1px solid transparent; /* redundant to */
    
}

.exp-title {
    border-top: 1px solid;
}
.experience h1 {
    padding: 10px 100px 10px;
    margin-top: 60px;
    padding-top: 20px;
}

.widget{
    padding-left: 100px;
    width: 70%;
    max-width: 600%;
    padding: 20px;
    margin: 40px auto;
    border-radius: 20px;
    background-color: transparent;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.21);


}

.tabs{
    position: relative;
    --active: 0;
    --tab-count: 2;
    display: flex;
    height: 50px;
    border-block-end: 1px solid gainsboro;
    isolation: isolate;
}

.tabs input {
    display: none;
}

.tabs label {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    cursor: pointer;
    transition: color 0.5s ease-in-out;
}

.tabs input:checked + label {
    color: black;
}

.tabs::after {
    pointer-events: none;
    position: absolute;
    content: "";
    inset: 0 0 -1px;
    z-index: -1;
    width: calc((100% / var(--tab-count)) - 2.1px);
    border-radius: 10px 10px 0 0;
    border: 1px solid black;
    border-block-end: none;
    translate: calc(var(--active) * 100%);
    transition: translate 0.5s ease-in-out;
}

.tabs:has(:checked:nth-of-type(1)){
    --active:0;
}

.tabs:has(:checked:nth-of-type(2)){
    --active:1;
}

.tab-content {
    padding: 10px;
}

[class^="tab-content-"] {
    display: none;
}

.widget:has(:checked:nth-of-type(1)) .tab-content-1,
.widget:has(:checked:nth-of-type(2)) .tab-content-2 {
    display: block;
}

.cert-tile{
    text-align: center;
    display:inline-block;
}

.cert-item {
    display: inline-block;
    /* border: 1px solid black;  */
    margin: 8px;
    height: 250px;
    width: 350px;
    text-decoration: none;
    color: black;
}

.cert-item p{
    margin: none;
    /* border: 1px solid; */
}

.cert-image{
    height: 200px;
    align-content: center;
    padding: 5px;
    /* border: 1px solid black; */
}
.cert-image img{
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    
    
}

.contact{
    margin-top: 5%;
    border-top: 1px solid transparent;
    width: 100%;
    padding-bottom: 300px;
}

.contact-title{
    border-top: 1px solid ;
    margin-top: 60px;
}

.contact h1{
    position: relative;
    width: auto;
    padding-left: 100px;
    padding-top: 20px;
}

.input-box {
    display: flex;
    padding: 100px;
}

.input-grp {

}

.contact form .input-box input,
.contact form textarea {
    width: 80%;
    padding: 10px;
    color: black;
    border-radius: 20px;
    border: 1px solid black;
    margin: 5px 0;
    background-color: var(--background-color);
    resize: none;
}

.contact .btn {
    cursor: pointer;
}



.socials {
    width: 50%;
    justify-items: center;

}

.socials a{
    font-size: 40px;
    color: black;
}

.socials-img img{
    border-radius: 50%;
    height: 300px;
}

.bx {
    height: 15px;
}

.socials-img img,
.bx {
    padding: 10px;
}

footer {
    padding: 20px 200px 35px ;
    border-top: 1px solid rgb(0, 0, 0);
}

.footer-content {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}

.copyright,
.rights {
    margin: 0; 
}
