body{
   
    background-color: rgb(245, 240, 240);
    color: black;
    font-family: 'Courier New', Courier, monospace;
}

nav h1{
    padding-left: 10px;
    display: flex
}

nav h1:hover{
    background-color: rgb(181, 241, 241);
    color: rgb(22, 73, 116);
    cursor: pointer;
}

nav{
    width: 100%;
    height: 50px;
    position: relative;
    display: flex;
    z-index: 1;
    top: 0;
    left: 0;
    padding: 5px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(0, 0, 0)
}

nav li {
    display: inline-flex;
    margin: 0px 20px;

}

nav li:hover {
    background-color: rgb(181, 241, 241);
    color: rgb(22, 73, 116);
    cursor: pointer;
    font-weight: 600;
}

.banner {
    padding: 20px 100px;
    display: flex;
}

.banner-desc {
    margin-top: 15%;
    float: left;
    width: 60%;

}

.banner-desc p{
    padding-right: 50px;
    margin-right: 50px;
}

.banner-btn{
    margin-top: 10px;
    display: flex;
}

.banner-btn button{
    padding: 10px 30px;
    display: flex;
    margin-right: 10px;
    font-family: 'Courier New', Courier, monospace;
    
}

.banner-btn button:hover{
    cursor: pointer;
}

.banner-cv a{
    color: black;
    text-decoration: none;
}

.banner-cv img{
    display: inline-block;
    width: 15px;
    float: left;
    padding-right: 5px;
}

.banner-pic{
    position: relative;
    width: 40%;
    overflow: hidden;
    float: right;
    margin-top: 50px;
    padding-top: 50px;
    z-index: 2;
    
}

.banner-pic img{
    width: 100%;
}

.about{
    margin-top: 5%;
    width: 100%;
    border-top: 1px solid rgb(0, 0, 0);
    display: flex;
}

.about-me {
    width: 60%;
    display: inline-block;
}

.about-me h1,
.about-me p{
    padding-left: 100px;
    padding-top: 10px;
}

.about-me p{
    padding-right: 30px;
}


.techstack {
    width: 45%;
    display: inline-block;
    border-radius: 50px solid black;
    padding-right: 100px;
    padding-top: 10px;
    
}

.techstack img {
    padding: 10px;
    width: 40px;
    height: auto;
    
}

.projects{
    border-top: 1px solid rgb(0, 0, 0);
    width: 100%;
    height: auto;
    padding-left: 100px;
}

.projects h1{
    position: relative;
    width: auto;
    display: inline-block;

}

.project-type {
    display: inline-flex;
    position: relative;
}

.project-type li{  
    display: inline-block;
    border: 1px solid;
    padding: 3px 15px;
    border-radius: 15px;
    margin: 6px 5px;    
}

.project-type li:hover {
    cursor: pointer;
    color: white;
    background-color: black;
}

.card-wrapper {
    display: flex;
    
}

.card-wrapper img{
    width: 100%;
}

.card-list .card-item{
    list-style: none;
}

.card-list .card-item .card-link{
    width: 400px;
    display: block;
    padding: 18px;
    border-radius: 12px;
    text-decoration: none;
    color: black;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    transition: 0.2s ease;
    border: 2px solid transparent;
}

.card-list .card-item .card-link:hover {
    border-color: black;
}

.card-list .card-item .card-image {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 10px;
}

.card-list .card-link .card-button {
    height: 35px;
    width: auto;
    color: black;
    border-radius: 50%;
    transition: 0.4s ease;
    border: 2px solid black;
    background: none;
    cursor: pointer;
}

.card-list .card-link:hover .card-button {
    color: black;
    background: black;
}


